
<div class="d-flex align-items-center justify-content-center myfade">
<div>
<h1 style="color:lightblue; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Welcome!</h1>
<br>
<h4><em> I'm learning Ruby. </em></h4>
</div>

<%= image_tag("foaicbk_cover.png", :style => "width:50%; margin-left:10%;") %>



</div>
