
<h1> About Us </h1>



<div>

<div class="wrapper">
<div class="drop"></div>
    <div class="box">
        <div class="stem">
            <div class="leaf leaf01">
                <div class="line"></div>
            </div>
            <div class="leaf leaf02">
                <div class="line"></div>
            </div>
            <div class="leaf leaf03">
                <div class="line"></div>
            </div>
            <div class="leaf leaf04">
                <div class="line"></div>
            </div>
            <div class="leaf leaf05">
                <div class="line"></div>
            </div>
            <div class="leaf leaf06">
                <div class="line"></div>
            </div>
        </div>
        <div class="pot"></div>
        <div class="pot-top"></div>
    </div>
</div>
</div>



